/** @format */

body {
  font-family: "Lato", sans-serif;
}
/*Display start*/
.d-flex {
  display: flex;
}
.d-colum {
  display: flex;
  flex-direction: column;
}
/*Display end*/
/*Margin Start*/
.ml-10 {
  margin-left: 10%;
}
.ml-20 {
  margin-left: 20%;
}
.ml-30 {
  margin-left: 30%;
}
.ml-40 {
  margin-left: 40%;
}
.ml-50 {
  margin-left: 50%;
}
.mr-10 {
  margin-right: 10%;
}
.mr-20 {
  margin-right: 20%;
}
.mr-30 {
  margin-right: 30%;
}
.mr-40 {
  margin-right: 40%;
}
.mr-50 {
  margin-right: 50%;
}
.mt-10 {
  margin-top: 10%;
}
.mt-20 {
  margin-top: 20%;
}
.mt-30 {
  margin-top: 30%;
}
.mt-40 {
  margin-top: 40%;
}
.mt-50 {
  margin-top: 50%;
}
.mb-10 {
  margin-bottom: 10%;
}
.mb-20 {
  margin-bottom: 20%;
}
.mb-30 {
  margin-bottom: 30%;
}
.mb-40 {
  margin-bottom: 40%;
}
.mb-50 {
  margin-bottom: 50%;
}
.ml-10px {
  margin-left: 10px;
}
.ml-20px {
  margin-left: 20px;
}
.ml-30px {
  margin-left: 30px;
}
.ml-40px {
  margin-left: 40px;
}
.ml-50px {
  margin-left: 50px;
}
.mr-10px {
  margin-right: 10px;
}
.mr-20px {
  margin-right: 20px;
}
.mr-30px {
  margin-right: 30px;
}
.mr-40px {
  margin-right: 40px;
}
.mr-50px {
  margin-right: 50px;
}
.mt-10px {
  margin-top: 10px;
}
.mt-20px {
  margin-top: 20px;
}
.mt-30px {
  margin-top: 30px;
}
.mt-40px {
  margin-top: 40px;
}
.mt-50px {
  margin-top: 50px;
}
.mb-10px {
  margin-bottom: 10px;
}
.mb-20px {
  margin-bottom: 20px;
}
.mb-30px {
  margin-bottom: 30px;
}
.mb-40px {
  margin-bottom: 40px;
}
.mb-50px {
  margin-bottom: 50px;
}
/*Margin End*/
/*Width start*/
#w1 {
  width: 1%;
}
#w2 {
  width: 2%;
}
#w3 {
  width: 3%;
}
#w4 {
  width: 4%;
}
#w5 {
  width: 5%;
}
#w6 {
  width: 6%;
}
#w7 {
  width: 7%;
}
#w8 {
  width: 8%;
}
#w9 {
  width: 9%;
}
#w10 {
  width: 10%;
}
#w11 {
  width: 11%;
}
#w12 {
  width: 12%;
}
#w13 {
  width: 13%;
}
#w14 {
  width: 14%;
}
#w15 {
  width: 15%;
}
#w16 {
  width: 16%;
}
#w17 {
  width: 17%;
}
#w18 {
  width: 18%;
}
#w19 {
  width: 19%;
}
#w20 {
  width: 20%;
}
#w21 {
  width: 21%;
}
#w22 {
  width: 22%;
}
#w23 {
  width: 23%;
}
#w24 {
  width: 24%;
}
#w25 {
  width: 25%;
}
#w26 {
  width: 26%;
}
#w27 {
  width: 27%;
}
#w28 {
  width: 28%;
}
#w29 {
  width: 29%;
}
#w30 {
  width: 30%;
}
#w31 {
  width: 31%;
}
#w32 {
  width: 32%;
}
#w33 {
  width: 33%;
}
#w34 {
  width: 34%;
}
#w35 {
  width: 35%;
}
#w36 {
  width: 36%;
}
#w37 {
  width: 37%;
}
#w38 {
  width: 38%;
}
#w39 {
  width: 39%;
}
#w40 {
  width: 40%;
}
#w41 {
  width: 41%;
}
#w42 {
  width: 42%;
}
#w43 {
  width: 43%;
}
#w44 {
  width: 44%;
}
#w45 {
  width: 45%;
}
#w46 {
  width: 46%;
}
#w47 {
  width: 47%;
}
#w48 {
  width: 48%;
}
#w49 {
  width: 49%;
}
#w50 {
  width: 50%;
}
#w51 {
  width: 51%;
}
#w52 {
  width: 52%;
}
#w53 {
  width: 53%;
}
#w54 {
  width: 54%;
}
#w55 {
  width: 55%;
}
#w56 {
  width: 56%;
}
#w57 {
  width: 57%;
}
#w58 {
  width: 58%;
}
#w59 {
  width: 59%;
}
#w60 {
  width: 60%;
}
#w61 {
  width: 61%;
}
#w62 {
  width: 62%;
}
#w63 {
  width: 63%;
}
#w64 {
  width: 64%;
}
#w65 {
  width: 65%;
}
#w66 {
  width: 66%;
}
#w67 {
  width: 67%;
}
#w68 {
  width: 68%;
}
#w69 {
  width: 69%;
}
#w70 {
  width: 70%;
}
#w71 {
  width: 71%;
}
#w72 {
  width: 72%;
}
#w73 {
  width: 73%;
}
#w74 {
  width: 74%;
}
#w75 {
  width: 75%;
}
#w76 {
  width: 76%;
}
#w77 {
  width: 77%;
}
#w78 {
  width: 78%;
}
#w79 {
  width: 79%;
}
#w80 {
  width: 80%;
}
#w81 {
  width: 81%;
}
#w82 {
  width: 82%;
}
#w83 {
  width: 83%;
}
#w84 {
  width: 84%;
}
#w85 {
  width: 85%;
}
#w86 {
  width: 86%;
}
#w87 {
  width: 87%;
}
#w88 {
  width: 88%;
}
#w89 {
  width: 89%;
}
#w90 {
  width: 90%;
}
#w91 {
  width: 91%;
}
#w92 {
  width: 92%;
}
#w93 {
  width: 93%;
}
#w94 {
  width: 94%;
}
#w95 {
  width: 95%;
}
#w96 {
  width: 96%;
}
#w97 {
  width: 97%;
}
#w98 {
  width: 98%;
}
#w99 {
  width: 99%;
}
#w100 {
  width: 100%;
}

/*Width End*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(71, 74, 76);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-top-right-radius: 2.5%;
  border-bottom-right-radius: 2.5%;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: rgb(70, 138, 177);
  border-radius: 5%;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
